body {
  background-color: #ffc600;
  font-family: 'URW Chancery L', cursive;
}

h1 {
  font-size: 8vh;
  margin: 0;
}

h2 {
  font-size: 5vh;
  margin: 0;
}

label {
  display: flex;
  flex: 1 1 100px;
  font-family: 'URW Chancery L', cursive;
  font-size: 26px;
  justify-items: center;
  justify-content: center;
}

.navBar {
  border: 1px solid white;
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 640px;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
  width: 200px;
}

.videoContainer {
  display: flex;
  justify-content: center;
}

#subtitle {
  color: white;
  text-align: center;
}

#title {
  color: white;
  text-align: center;
}

@media all and (max-width: 1050px) {

  .video {
    display: none;
  }

}

@media all and (max-width: 650px) {

  .navBar {
    width: 100%;
  }

}